:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
*{
  padding: 0px;
  margin: 0px;
}
html , body {
  background-color: beige;
}
body{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
main{
  flex-grow: 1;
}